---
layout: default
---
<style>
  .enlarged {
    cursor: pointer;
    max-width: 100%;
    transition: transform 0.3s;
    transform-origin: center;
  }

  .enlarged.zoomed {
    transform: scale(2);
  }
</style>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        <!-- • </span> -->
      {%- endif -%}
      <!-- {%- if page.date -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
        {{ page.date | date: date_format }} -->
      </time>{%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

<script>
  function addImageClickHandler() {
    var images = document.querySelectorAll('.post-content img');
    images.forEach(function (image) {
      image.classList.add('enlarged');
      image.addEventListener('click', function () {
        this.classList.toggle('zoomed');
      });
    });
  }

  document.addEventListener('DOMContentLoaded', addImageClickHandler);
</script>

</article>
